
h1{
    text-align:center;
    position: relative;
    color: rgb(2, 2, 2);
    margin-top: 60px;
}
.container{
   display:flex;
   justify-content:space-around;
   padding: auto;
   margin: auto;
   text-align: left;
   padding: 1px;
   width: 1300px; 
}
.compcontainer {
    display: flex;
}
.car1{
    border: 3px black solid;
    text-align: center;
    justify-content:space-around;
    background-color: gray;
    margin: 20px;
}
.car2{
    border: 3px black solid;
    text-align: center;
    justify-content:space-around;
    background-color: gray;
    margin: 20px;
}
.car3{
    border: 3px black solid;
    text-align: center;
    justify-content:space-around;
    background-color: gray;
    margin: 20px;
}
.container h2{
    margin-left: 340px;
}
h2{
text-align:right;
margin: 0px;
padding: 5px;
font-size: 130%;
width: 70px;
border:black inset 3px;

}
@media screen and (max-width : 1280px) {
    .container{
    display: block;
    width: 1000px;
    }
  .compcontainer{
    display: flex;
  }
  .container h2{
    margin-left: 573px;
}
}
@media (min-width: 320px) and (max-width: 767px) {
    .container{
        display: block;
        width: 500px;
    }
    .compcontainer{
        display: block;
      }
      .container h2{
        margin-left: 371px;
    }
}